<div class="container-fluid">
    <h2>Syllabus</h2>
    @{ foreach (var item in (List<SyllabusGenerator.Models.Course>)@ViewBag.courseDetail)
        {
            <h4 class="text-center">Course Outline: @item.Title</h4>

            <p>
                <h1>Part A - Introduction:</h1>

            </p>
            <p>Course Code: @item.CourseCode</p>
            <p>Credit: @item.Credit</p>
            <p>Course Summary:</p><br />
            <p>@item.Summary</p>
        }
    }


    <br />
    <p>
        <h3>Course Objectives:</h3>
    </p>
    @{ foreach (var item in (List<SyllabusGenerator.Models.CourseObjective>)@ViewBag.objective)
        {
            <p>@(((List<SyllabusGenerator.Models.CourseObjective>)@ViewBag.objective).IndexOf(item) + 1). @item.Objectives</p>
        }
    }



    <br />
    <p>
        <h3>Course Learning Outcomes:</h3>
    </p>
    @{ foreach (var item in (List<SyllabusGenerator.Models.CLO>)@ViewBag.cloDetail)
        {
            <p>@(((List<SyllabusGenerator.Models.CLO>)@ViewBag.cloDetail).IndexOf(item) + 1). @item.Outcomes</p>
        }
    }
    <br />
    <p>
        <h1>Part B- Lesson Plan</h1>
        <h4> Course Details Learning plan</h4>
    </p>




    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            Detail Learning Plan

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>Timeline</th>
                            <th>Topics/Contents</th>

                            <th>Learning Outcomes</th>
                            <th>Mapped CLOs</th>

                            <th>Teaching Strategies</th>
                            <th>Assessment Strategies</th>
                        </tr>


                    </thead>

                    <tbody>
                        @{ foreach (var item in (List<SyllabusGenerator.Models.LessonPlan>)@ViewBag.lesonPlans)
                            {
                                <tr>
                                    <td>@item.Timeline</td>


                                    <td>@item.Topics</td>
                                    <td>@item.LearningOutcome </td>
                                    <td>@item.Outcomes</td>
                                    <td>@item.Teaching</td>
                                    <td>@item.Assessment</td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <br />
    <p>
        <h1>Part C- Assessment and Evaluations</h1>
        <h4>Assessment Procedures</h4>
    </p>


    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            Assessment Strategies Details
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                        <tr>

                            <th>Serial No.</th>
                            <th>Assessment Name</th>
                            <th>Description</th>

                        </tr>


                    </thead>

                    <tbody>
                        @{ foreach (var item in (List<SyllabusGenerator.Models.AssessmentStrategie>)@ViewBag.assessments)
                            {

                                <tr>
                                    <td>@(((List<SyllabusGenerator.Models.AssessmentStrategie>)@ViewBag.assessments).IndexOf(item) + 1)</td>

                                    <td>@item.Strategies</td>
                                    <td>@item.Description</td>

                                </tr>


                            }

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <br />
    <p>
        <h1>Part D- Resources</h1>

    </p>
    <h4>Textbooks:</h4>
    @{ foreach (var item in (List<SyllabusGenerator.Models.Book>)@ViewBag.textBook)
        {
            <p>@(((List<SyllabusGenerator.Models.Book>)@ViewBag.textBook).IndexOf(item) + 1). @item.BookName</p>
        }
    }

    <h4>References:</h4>
    @{ foreach (var item in (List<SyllabusGenerator.Models.Book>)@ViewBag.refBook)
        {
            <p>@(((List<SyllabusGenerator.Models.Book>)@ViewBag.refBook).IndexOf(item) + 1). @item.BookName</p>
        }
    }


    <div>
        <a href="@Url.Action("GeneratePdf", "GS")" class="btn btn-info">Download</a>
    </div>
</div>