@model SyllabusGenerator.Models.LearningPlan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LearningPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Timeline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timeline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LearningOutcome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LearningOutcome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentStrategie.Strategies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentStrategie.Strategies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLO.Outcomes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLO.Outcomes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeachingStrategie.Strategies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeachingStrategie.Strategies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
