@using SyllabusGenerator.Models;
@model Tuple<LPCLO, List<LPCLO>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="container-fluid">

    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@( Url.Action("Index", "Dashboard") )">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Learning Outcomes</li>

    </ol>

    <h5>Choose CLOs</h5>
    <div class="card-body">

        @using (Html.BeginForm("Create", "LPCLO", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           


            <div class="col-md-6">
                <div class="form-group">
                    @if (ViewBag.CloList != null)
                    {
                        <div class="col-md-10">
                            <h6>Select Mapped CLO</h6>
                            @Html.DropDownList("CLOId", ViewBag.CloList as SelectList, "-- Select CLO ---", new { @class = "form-control", @name = "cloId" })
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-10">
                    <a href="@Url.Action("Index", "LPA", new { id =(int) Session["planId"]})" class="pull-right btn btn-info">Next</a>
                    <input type="submit" class="btn btn-success" value="Save" />

                </div>
            </div>
        }

    </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-book-open"></i>
                All CLOS

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                        <thead>


                            <tr>

                                <th>Serial No.</th>


                                <th>CLO</th>




                            </tr>


                        </thead>

                        <tbody>
                            @foreach (var item in Model.Item2)
                            {


                                <tr>
                                    <td>@(Model.Item2.IndexOf(item)+1)</td>



                                    <td>@item.CLO.Outcomes</td>


                                    @*<td><a href="@Url.Content(item.ImageURL)" target="_blank"><img src="@Url.Content(item.ImageURL)" style="width:100px; height:67px;" /></a></td>*@
                                    @*<td>
                                            <a href="@Url.Action("Edit", "Resource", new { id = item.CourseId})" class="btn btn-info">Edit</a>
                                            <a href="@Url.Action("Delete", "Resource", new { id = item.CourseId})" class="btn btn-danger">Delete</a>
                                        </td>*@



                                </tr>




                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
